$sans-serif-font-stack: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica,
  Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
$serif-font-stack: Georgia, serif;
$monospace-font-stack: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo,
  Courier, monospace;
