---
import Meta from "../components/Meta.astro";
import "../styles/global.css";
import { formatFrontmatterDate } from "../utils";

const { frontmatter } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <Meta
      title={frontmatter.title}
      description={frontmatter.description}
      image={new URL(
        frontmatter?.image?.url ?? "/images/default-logo.png",
        Astro.url
      ).toString()}
    />
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-MWXC8Q"
        height="0"
        width="0"
        style="display:none;visibility:hidden"></iframe></noscript
    >
    <!-- End Google Tag Manager (noscript) -->
    <header>
      <a href="/"><span>&#8592;&nbsp;</span>Home</a>
    </header>
    <main>
      <h1>{frontmatter.title}</h1>
      <p>
        {formatFrontmatterDate(frontmatter.date)}
      </p>
      <slot />
    </main>
    <style>
      main {
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p,
        pre {
          margin: 1.5rem 0;
        }

        pre {
          padding: 1.5rem;
          border-radius: 5px;
          overflow-x: auto;
        }
      }
    </style>
  </body>
</html>
